<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- partials/header.html -->
<header class="navbar">
  <div class="logo ms-4">
    <a href="/index.html"><img src="Images/logo.png" alt="Bansal Classes Logo"></a>
  </div>
  <nav>
    <ul class="nav-links me-4">
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About us</a></li>
      <li><a href="courses.html">Courses</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="enquiry.html">Enquiries</a></li>
    </ul>
  </nav>
</header>

</body>
</html>